body, html {
    font-family: sans-serif;
    margin: 10px;
}

table, td, th {
    border: 1px solid #aaa;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

